.header {
  background-image: linear-gradient(
    to right top,
    #41ba0c,
    #5ec60b,
    #77d30c,
    #90df0e,
    #a8eb12
  );
}

.header .nav-link {
  color: white;
}

.header .nav-link.active {
  background-color: transparent;
  border: unset;
  border-bottom: 4px solid white;
}

.product-card {
  border: unset;
}

.product-img {
  height: 200px;
  object-fit: contain;
}

.btn-custom {
  background-image: linear-gradient(
    to right top,
    #d16ba5,
    #c777b9,
    #ba83ca,
    #aa8fd8,
    #9a9ae1,
    #8aa7ec,
    #79b3f4,
    #69bff8,
    #52cffe,
    #41dfff,
    #46eefa,
    #5ffbf1
  );
  color: white;
  border-radius: 30px;
  border: unset;
  padding: 7px 20px;
}

.toastr_container {
  position: fixed;
  top: 3%;
  right: 1%;
  z-index: 10000;
  background: green;
  padding: 10px 20px;
  border-radius: 4px;
  color: white;
  box-shadow: 0px 0px 10px 0px #757474;
}

.loading_section {
  background: #9a9a9a;
  padding: 40px;
  width: 100%;
  text-align: center;
  color: white;
  box-shadow: 0px 0px 10px 0px #b8b8b8;
  background-image: linear-gradient(
    to right top,
    #d6eec4,
    #ebdcb0,
    #f8c9af,
    #f6babb,
    #e2b1cd
  );
}
